@import "tailwindcss";

@theme {
  --color-primary: #22c55e;
  --color-brand-green: #10B981;
  --color-brand-red: #EF4444;
  --color-brand-blue: #3B82F6;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
